.cms_name {
  color: #FFFFFF;
  font-size: 18px;
  padding: 20px;
  text-align: center;
}

.header {
  padding: 0 20px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}