.page_search {
  padding: 18px 28px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 7px 5px 12px #bdbdbd;
}

.reset_btn {
  background: #fa982d !important;
  color: #fff !important;
  border: 1px solid #fa982d !important;
  margin-left: 10px;
}

.reset_btn:hover {
  opacity: 0.76;
}
