.page_table {
  min-height: 500px;
  background-color: #fff;
  box-shadow: 7px 5px 12px #bdbdbd;
  border-radius: 10px;
}

.page_table_top {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
}

.page_table_title {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

.start_btn {
  background: #5dca2e !important;
  border: 1px solid #5dca2e !important;
  color: #fff !important;
}

.start_btn:hover {
  opacity: 0.76;
}

.stop_btn {
  background: #fa982d !important;
  border: 1px solid #fa982d !important;
  color: #fff !important;
}
.stop_btn:hover {
  opacity: 0.76;
}
